<div class="container">
  <div class="row top-30">
    <div class="col-md-2 col-sm-2">
      <a class="btn btn-default" href="/blog">Go to Blog</a>
    </div>
    <div class="col-md-2 col-sm-2">
      <a class="btn btn-default" href="/cms">New Post</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="expense-container">
        <div id="calendar"></div>
        <h1>Expenses</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Cost</th>
              <th>Date</th>
              <th>Delete Expense</th>
            </tr>
          </thead>
          <tbody>
            <div id='statsList'>
              <span id='statIncome'>
                {{!-- monthly income --}}
              </span>
              <span id='statExpense'>
                {{!-- total expenses --}}
              </span>
              <span id='statDay'>
                {{!-- savings per day --}}
              </span>
              <span id='statRemainder'>
                {{!-- amt saved after billing cycle --}}
              </span>
            </div>
            <form id="expense-form">
              <div class="form-group">

                <label for="expense-name">What Is The Bill For?</label>
                <input type="text" class="form-control" id="expense-name" placeholder="Enter the Name of the Expense">
              </div>
              <div class="form-group">
                <label for="inputCost">Monthly Payment:</label>
                <input type="text" class="form-control" id="expense-cost" placeholder="Enter the Cost of the Expense">
              </div>

              <div class="form-group">
                <label for="inputDate">Monthly Due Date:</label>
                <input type="text" class="form-control" id="expense-date" placeholder="Enter the Date of the Expense">
              </div>

              <button type="submit" class="btn btn-success">Budge It</button>

            </form>
          </tbody>
        </table>





      </div>
    </div>
  </div>
  </d>
  <!-- Custom Script -->
  <script src="js/expense.js" type="text/javascript"></script>