{{!-- Home Page Style Sheet --}}
  <link rel="stylesheet" href="css/styles.css" media="screen" title="no title">


<div id="scroll-animate">
  <div id="scroll-animate-main">
    <div class="wrapper-parallax">
      <header>

        <h1><a class="logo-budge">BUDGE</a><a class="logo-it"> IT!</a></h1>


      </header>

      <section class="content">

        <div class="home-container">

          <div>

            <a class="enter-text" href="/expenses"><span class="div-link"></span>Enter</a>
          </div>
        </div>

      </section>


      <footer>
        <h3><a class="footer-phrase-1">Finance Wisely.</a></br><a class="footer-phrase-2"> Save Money.</a></h3>
      </footer>
    </div>
  </div>
</div>




